<config template="android (default)" platform="android">Created: Fri Mar 21 19:42:43 2014
By: saching3
Using Template: android (default)

&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="" name="android-external-res"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="false" value="com.blackpearlstudios.DoubleIt" name="android-pkgname"/>
    <option fromDef="false" value="resources/textures/icon/icon.png" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="false" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="" name="config"/>
    <option fromDef="true" value="DoubleIt" name="name"/>
    <option fromDef="true" value="DoubleIt" name="caption"/>
    <option fromDef="false" value="BlackPearlStudios" name="provider"/>
    <option fromDef="false" value="(C) BlackPearlStudios" name="copyright"/>
    <option fromDef="false" value="1.4.0" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="" name="android-extra-manifest"/>
    <option fromDef="true" value="" name="android-extra-application-manifest"/>
    <option fromDef="true" value="" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
</config>
