<config template="project (default)" platform="project">Created: Fri Mar 7 00:15:33 2014
By: BlackPearlStudios
Using Template: project (default)

&lt;description to go here><option fromDef="false" value="resources/textures/icon/icon.png" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="false" value="" name="splashscreen-use-all"/>
    <option fromDef="false" value="1" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="false" value="DoubleIt" name="name"/>
    <option fromDef="false" value="DoubleIt" name="caption"/>
    <option fromDef="false" value="BlackPearlStudios" name="provider"/>
    <option fromDef="false" value="BlackPearlStudios" name="copyright"/>
    <option fromDef="false" value="1.0.0" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
